@import "../../globalscss/global.scss";
.doctor_card {
  @include flex(column, null, null, 2px);
  margin: 30px;

  flex-basis: 22%;

  border-radius: 20px;
  box-shadow: 0px 0px 16px 1px gray;
  overflow: hidden;
  &:hover {
    box-shadow: 0px 0px 16px -2px rgb(21, 203, 69);
  }
  .card_image {
    img {
      transition: transform ease 300ms;
      width: 100%;
      height: 200px;

      object-fit: cover;
      object-position: 0px -10px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .card_content {
    padding: 10px;
    @include flex(column, null, null, 10px);
    .card_heading {
      h5 {
        font-size: 1.5rem;
        color: var(--main-heading-color);
      }
      p {
        color: var(--gray);
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
    .card_middle {
      .card_location {
        font-weight: 800;
        color: var(--doctorpage-theme);
        @include flex(row, center, null, 5px);
      }
    }
    .card_bottom {
      p {
        color: var(--gray);
        font-weight: 600;
      }
    }
    .link {
      padding: 10px 15px;
      text-align: center;
      background-color: var(--doctorpage-btn);
      color: var(--gray);
      width: max-content;
      border-radius: 5px;
      font-weight: 600;
      color: white;
      transition: box-shadow ease 0.5s;

      &:hover {
        box-shadow: 00px 58px 11px 10px var(--gray);
      }
    }
  }
}
