@import "../../globalscss/global.scss";
@import "../../globalscss/responsivemixins.scss";

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper_content_section {
  height: 100%;
  position: relative;
  backdrop-filter: blur(20px);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper_content {
    position: absolute;
    top: 100px;
    left: 100px;
    padding: 50px 0px;
    @include flex(column, null, null, 30px);
    @include break(600px) {
      top: 180px;
      left: 0px;
      padding: 10px;
      @include flex(column, null, null, 15px);
    }

    h1 {
      color: white;
      text-shadow: 3px 3px 8px rgb(22, 21, 21);
      width: 65%;
      text-align: start;
      font-size: 4rem;
      line-height: 70px;

      @include break(600px) {
        font-size: 3rem;
        width: 100%;
      }
      @include break(440px) {
        font-size: 2.3rem;
        line-height: 50px;
        width: 100%;
      }

      @include break(280px) {
        font-size: 2rem;
        line-height: 50px;
        width: 100%;
      }
    }
    p {
      font-size: 1.4rem;
      color: var(--doctorpage-btn);
      text-shadow: 1px 1px 5px rgb(22, 21, 21);
      width: 60%;
      font-weight: 600;
      @include break(600px) {
        font-size: 1.2rem;
        width: 100%;
      }
      @include break(440px) {
        font-size: 1.2rem;
        width: 100%;
      }

      @include break(280px) {
        font-size: 1rem;
        width: 100%;
      }
    }
    .link {
      @include button(var(--doctorpage-btn), black);
    }
  }
}
