// section{

// }
.booking-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background-color: rgb(249, 251, 252);
  }
  
  .option {
    flex: 1;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    

  }
 
  select {
    height: 100%;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .option select:focus {
    outline: none; 
    border: 4px solid #c5d5f8; 
  }
  
  .bold-option {
    font-weight: bold; 
}
 
  
  button {
    padding: 8px 10px;
    border: none;
    background-color: #e4b46d;
    color: white;
    border-radius: 50px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #9f7e3e;
  }
  
  .booking-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .center {
    text-align: center;
  }

 