@import "../../globalscss/global.scss";
.home_container {
  // section3 stars
  .section3_container {
    margin: 120px 0px;
    @include flex(column, center, null, 60px);
    .section3_content {
      @include flex(row, null, center, 20px);
      flex: 1;
      flex-wrap: wrap;
    }
  }

  // section5 starts
  .section5_container {
    margin: 200px 0px;
    @include flex(column, center, null, 100px);

    .section5_heading {
      text-align: center;

      p {
        font-size: 1.1rem;
        font-weight: 400;
      }
    }
    .section5_content {
      @include flex(row, null, center, 150px);
      flex: 1;
      flex-wrap: wrap;
    }
  }

  // section9_container
  .section9_container {
    background: url("https://img.freepik.com/free-photo/copy-space-paper-flowers-ornaments_23-2148480110.jpg?w=996")
      center/cover no-repeat fixed;
    position: relative;
    margin: 100px 0px;
    @include flex(row, center, space-between, null);
    height: 70vh;
    .left {
      flex-basis: 70%;
      @include flex(row, center, center, 30px);
      .left_content {
        padding: 10px 0px;
        width: 70%;
        @include flex(column, null, null, 30px);

        h5 {
          font-size: 600;
          font-size: 1.3rem;
          color: var(--gray);
        }
        .left_heading {
          h1 {
            text-align: start;
          }
        }

        .left_desc {
          p {
            line-height: 30px;
            font-size: 1.1rem;
            font-weight: 400;
          }
        }
        .left_bottom_container {
          @include flex(row, center, null, 10px);
        }
      }
    }
    img {
      object-fit: cover;
      position: absolute;
      bottom: 0px;
      right: 60px;
      height: 650px;
    }
  }

  // section10
  .section10_container {
    @include flex(row, center, null, 10px);
    height: 90vh;
    .left {
      position: relative;
      @include flex(column, center, center, null);
      flex: 1;
      .left_top_image {
        @include flex(row, center, center, 0px);
        padding: 10px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: -40px;
        left: 100px;
        img {
          object-fit: cover;
          border-radius: 50%;
          height: 200px;
          width: 200px;
        }
      }
      .left_bottom_image {
        @include flex(row, center, center, 0px);
        padding: 10px;
        border-radius: 50%;
        img {
          height: 450px;
          width: 450px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    .right {
      flex: 1;
      @include flex(row, null, start, 20px);
      .right_content {
        width: 90%;
        padding: 10px 20px;
        @include flex(column, null, null, 30px);

        .right_content_heading {
          h5 {
            color: var(--color1);
            font-size: 1.3rem;
          }
        }
        h2 {
          color: var(--gray);
        }
        p {
          font-size: 1.1rem;
          color: rgb(104, 103, 103);
          font-weight: 400;
        }
        .counseling_types {
          flex-wrap: wrap;
          @include flex(row, null, center, 20px);
        }
      }
    }
  }

  //section11 starts
  .section11_container {
    background: url("https://gracethemesdemo.com/psyclone/wp-content/themes/psyclone-pro/images/section8.jpg")
      center/cover no-repeat fixed;
    height: 60vh;
    @include flex(row, null, center, 0px);

    .left {
      flex-basis: 40%;
      padding: 0 30px;
      color: white;
      @include flex(column, null, center, 30px);

      p {
        font-size: 1.1rem;
        font-weight: 400;
      }
    }
    .right {
      @include flex(row, center, flex-start, 10px);
      flex-basis: 40%;
      .right_content {
        flex-wrap: wrap;
        @include flex(row, center, center, 20px);

        section {
          text-align: center;
          height: 150px;
          flex-basis: 35%;
          @include flex(column, center, center, 0px);

          h1 {
            font-weight: bold;
            font-size: 3rem;
            color: white;
          }
          p {
            padding: 10px 0px;
            color: yellow;
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  //section12 container starts
  .section12_container{
    width: 100%;
    margin: 50px auto;
    gap: 20px;
    display: flex;
    flex-direction: column;

    .section12_heading{
      text-align: center;
      padding: 0 50px;
      

      h2{
        font-weight: bold;
        font-size: 3rem;
        padding: 15px 15px;
      }
      p{
        line-height: 30px;
        font-size: 1.1rem;
        font-weight: 400;
       
      }
    
    }
    
    .section12_content {
      @include flex(row, null, center, 15px);
      flex: 1;
      flex-wrap: wrap;
    }
  } 
  
  // section13 container
  .section13_container {
    display: flex;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0px 0px 13px -3px gray;
    gap: 20px;
    .left {
      flex: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .right {
      flex: 2;
      @include flex(column, null, center, 20px);

      h3 {
        font-size: 2rem;
        font-weight: 600;
      }
      .right_bottom_container {
        display: flex;
        gap: 20px;

        .contact_details {
          @include flex(row, center, null, 10px);
          .contact_content {
            @include flex(column, null, null, 5px);
            font-size: 1.1rem;
            font-weight: 600;
            p {
              color: brown;
            }
          }
        }
      }
    }
  }
}
