@import "../../globalscss/global.scss";
@import "../../globalscss/responsivemixins.scss";
$background-main: #d39259;
$text-color: #ffffff;
$dark-brown: #4e2908;
$copyright-brown: #2c1704;
$icon-orange: #fa8245;
$link-hover-orange: #b17744;

footer {
<<<<<<< HEAD
  background-color: var(--icon-bg);
=======
  background-color: $dark-brown;
>>>>>>> 0879892d63fa5b732f63e4269a65f3ff971664b1
  color: $text-color;
  padding: 20px 30px;

  .container {
    width: 100%;
    margin-bottom: 25px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  .flex {
    display: flex;
    @include break(700px) {
      @include flex(column, null, null, 0px);
    }

    .flex-col {
      flex-direction: column;
    }

    @include break(xs) {
      flex-direction: column !important;
    }
    @include break(sm) {
      flex-direction: row;
    }

    .flex-row {
      flex-direction: row !important;
    }
    .gap-14 {
      gap: 14px;
    }
    .wrap {
      flex-wrap: wrap;
    }
  }
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.col {
  padding: 12px;
  width: 25%;
  @include break(800px) {
    width: 100%;
    max-width: 100% !important;
  }
}

.header {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.sub-text {
  line-height: 25px;
  font-size: 0.8rem;
  margin-bottom: 50px;
}
.contact-info {
  font-size: 0.8rem;
  margin-bottom: 20px;
  p {
    font-size: 0.8rem;
  }
}

.program-list {
  font-size: 0.8rem;
  ul {
    li::before {
      content: ">";
      font-weight: bolder;
      border-radius: 1ch;
      padding-inline: 1ch;
      margin-inline-end: 1ch;
    }

    li:hover {
      color: $link-hover-orange;
    }
  }
}

.social {
  flex-wrap: wrap;
  width: 44px;
  height: 44px;
<<<<<<< HEAD
  background-color: var(--color1);
=======
  background-color: $icon-orange;
>>>>>>> 0879892d63fa5b732f63e4269a65f3ff971664b1
  border-radius: 5px;
  text-align: center;
  svg {
    max-width: 25px;
    // height: 25px;
    margin: 32%;
  }
}

.social:hover {
  opacity: 50%;
  transition: opacity 0.5s ease;
}

.dialnow {
<<<<<<< HEAD
  background-color: var(--color1);
  padding: 0;
  position: relative;
  float: left;
  width: 260px;
=======
  background-color: #673a12;
  padding: 0;
  position: relative;
  float: left;
  width: 220px;
>>>>>>> 0879892d63fa5b732f63e4269a65f3ff971664b1
  border-radius: 10px;
  padding: 20px 20px;
  @include break(900px) {
    width: 200px;
  }
}

.dialnow::before {
  content: "";
  height: 58px;
  width: 58px;
  line-height: 58px;
<<<<<<< HEAD
  background: var(--theme-color) url(../../assets/images/telephone-fill.svg)
    no-repeat center center;
=======
  background: #e0a067 url(../../assets/images/telephone-fill.svg) no-repeat
    center center;
>>>>>>> 0879892d63fa5b732f63e4269a65f3ff971664b1
  margin: 0 15px 0 0;
  padding: 0;
  // display: inline-block;
  border-radius: 100%;
  text-align: center;
  float: left;

  @include break(sm) {
    display: none;
  }
}

.dialnow-number {
  font-weight: 400;
}

.copyright {
  width: 100%;
  text-align: center;
<<<<<<< HEAD
  background-color: var(--color1);
=======
  background-color: $copyright-brown;
>>>>>>> 0879892d63fa5b732f63e4269a65f3ff971664b1
  font-size: 0.8rem;
  padding: 30px;
  border-radius: 10px;
  max-width: 1170px;
<<<<<<< HEAD
  margin: 0 auto;
  @include flex(column, center, center, 0px);
  .developed {
    align-self: end;
  }
=======
  margin-left: auto;
  margin-right: auto;
>>>>>>> 0879892d63fa5b732f63e4269a65f3ff971664b1
}
