* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --theme-color: #95a37f;
  --color1: #646e57;
  --main-heading-color: rgb(48, 48, 48);
  --button-bg: #b6ad90;
  --icon-bg: #333d29;
  --gray: rgb(72, 74, 78);
  --doctorpage-theme: #414833;
  --doctorpage-btn: rgb(38, 198, 142);
  --flower-bg: rosybrown;
  --color2: rgb(66, 54, 28);
  --color3: rgb(163, 91, 91);
  --card_hover: rgb(105, 201, 78);
}
html {
  scroll-behavior: smooth;
}

.open-sans-setting {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

ul li {
  list-style-type: none;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: inherit;
}

.main_heading {
  font-size: 3rem;
  font-weight: 700;
  color: var(--main-heading-color);
  text-align: center;
}

.sub_heading {
  font-size: 2.6rem;
  font-weight: 600;
}
