@import "../../globalscss/global.scss";
@import "../../globalscss/responsivemixins.scss";

.counseling_container {
  display: flex;
  align-items: center;
  flex-basis: 48%;
  gap: 20px;
  @include break(1250px) {
    flex-basis: 100%;
  }
  section {
    h1 {
      font-weight: 600;
      font-size: 1.4rem;
      color: rgb(56, 55, 55);
      @include break(1250px) {
        font-size: 1.2rem;
        width: 100%;
      }
      @include break(400px) {
        font-size: 1rem;
      }
    }
    p {
      font-size: 1.1rem;
      color: gray;
      font-weight: 400;
      @include break(1250px) {
        font-size: 1rem;
        width: 100%;
      }
    }
  }
}
